mahjong/Mahjongg.xcodeproj/project.xcworkspace/*
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/Mahjongg.xcscheme
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/vorbis.xcscheme
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/xcschememanagement.plist
