mahjong/Mahjongg.xcodeproj/project.xcworkspace/*
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/Mahjongg.xcscheme
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/vorbis.xcscheme
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcschemes/xcschememanagement.plist
mahjong/Mahjongg.xcodeproj/xcuserdata/manan19.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
mahjong/Mahjongg.xcodeproj/xcuserdata/shamikaga.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
